* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.navbar {
  display: flex;
  color: white;
  font-size: 1.3rem;
  padding: 1em;
  background-color:#343a40;
}

.search-form {
  margin-left: 20px;
}